In [1]:
import pandas as pd
import requests

In [2]:
url="https://api.census.gov/data/2017/acs/acs1/subject?get=group(S2301)&for=school%20district%20(unified)&in=state:06"

In [3]:
response = requests.get(url)
response

In [4]:
response_json = response.json()

In [5]:
unifiedschool_df = pd.DataFrame(response_json,columns=response_json[0]).drop(0)
unifiedschool_df

,GEO_ID,S2301_C01_001E,S2301_C01_001M,S2301_C01_002E,S2301_C01_002M,S2301_C01_003E,S2301_C01_003M,S2301_C01_004E,S2301_C01_004M,S2301_C01_005E,...,S2301_C04_032MA,S2301_C04_032EA,S2301_C04_033MA,S2301_C04_033EA,S2301_C04_034EA,S2301_C04_034MA,S2301_C04_035EA,S2301_C04_035MA,state,school district (unified)
1,9700000US0609070,67426,3815,3007,826,4292,1336,6023,1710,4669,...,None,None,None,None,None,None,None,None,06,09070
2,9700000US0609390,89037,6683,6448,1492,8562,2059,11396,2500,9698,...,None,None,None,None,None,None,None,None,06,09390
3,9700000US0609620,114688,6774,8332,1289,12742,1876,13412,2434,10299,...,None,None,None,None,None,None,None,None,06,09620
4,9700000US0609640,111769,3658,8109,1297,7908,1556,6897,1883,6015,...,None,None,None,None,None,None,None,None,06,09640
5,9700000US0609850,221791,7134,18830,2143,21562,2622,21044,2955,16254,...,None,None,None,None,None,None,None,None,06,09850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,9700000US0641190,124276,5073,7012,1371,10261,1816,12481,2126,11558,...,None,None,None,None,None,None,None,None,06,41190
116,9700000US0643080,49504,2255,3123,941,5038,1426,4905,1054,4250,...,None,None,None,None,None,None,None,None,06,43080
117,9700000US0643470,59048,1753,3937,862,4727,737,6479,915,6152,...,None,None,None,None,None,None,None,None,06,43470
118,9700000US0684500,193438,6729,15743,1748,21477,3016,17555,2537,19004,...,None,None,None,None,None,None,None,None,06,84500
119,9700000US0691135,72651,7604,5699,1475,8910,2433,7833,2318,8139,...,None,None,None,None,None,None,None,None,06,91135

In [6]:
unifiedschool_df.loc[unifiedschool_df["NAME"]=="Hesperia Unified School District, California"]

,GEO_ID,S2301_C01_001E,S2301_C01_001M,S2301_C01_002E,S2301_C01_002M,S2301_C01_003E,S2301_C01_003M,S2301_C01_004E,S2301_C01_004M,S2301_C01_005E,...,S2301_C04_032MA,S2301_C04_032EA,S2301_C04_033MA,S2301_C04_033EA,S2301_C04_034EA,S2301_C04_034MA,S2301_C04_035EA,S2301_C04_035MA,state,school district (unified)
50,9700000US0600014,80751,6767,8248,1717,8199,2625,5974,1567,6985,...,None,None,None,None,None,None,None,None,06,00014