In [3]:
# Dependencies
import pandas as pd
import pathlib

In [4]:
# filepaths
school_directory_filepath = "Resources/ca-school-list.csv"
sy_1420_filepath = "Resources/output_data/merged_data.csv"

In [5]:
# reading csvs into dataframes and renaming columns to match
school_directory_df = pd.read_csv(school_directory_filepath)
school_directory_df = school_directory_df.rename(columns = {"CDSCode":"CDS_CODE"})
school_directory_df.head()

/Users/seidy/opt/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CDS_CODE,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,City,...,Virtual,Magnet,YearRoundYN,FederalDFCDistrictID,Latitude,Longitude,AdmFName,AdmLName,AdmEmail,LastUpDate
0,1100170000000,0691051,No Data,Active,Alameda,Alameda County Office of Education,No Data,313 West Winton Avenue,313 West Winton Ave.,Hayward,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
1,1100170109835,0691051,10546,Closed,Alameda,Alameda County Office of Education,FAME Public Charter,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,...,P,N,N,No Data,37.521436,-121.99391,No Data,No Data,No Data,9/1/2015
2,1100170112607,0691051,10947,Active,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,Oakland,...,N,N,N,0601614,37.804520,-122.26815,Manuschka,Michaud,mmichaud@envisionacademy.org,8/13/2020
3,1100170118489,0691051,12283,Closed,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,2125 Jefferson Avenue,2125 Jefferson Ave.,Berkeley,...,N,N,N,No Data,37.868991,-122.27844,No Data,No Data,No Data,7/1/2015
4,1100170123968,0691051,12844,Active,Alameda,Alameda County Office of Education,Community School for Creative Education,2111 International Boulevard,2111 International Blvd.,Oakland,...,N,N,N,0601691,37.784648,-122.23863,Ida,Oberman,ida@communityschoolforcreativeeducation.org,10/8/2020

In [6]:
# reading master enrollment file to dataframe
sy_1420_df = pd.read_csv(sy_1420_filepath)
sy_1420_df.head()

,Unnamed: 0,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,...,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT,year
0,0,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,7,M,0,0,0,...,0,0,0,0,1,0,0,1,0,2014
1,1,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,5,F,0,0,0,...,0,0,0,0,0,2,0,2,0,2014
2,2,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,5,M,0,0,0,...,0,0,1,3,2,6,0,12,0,2014
3,3,10751300000000,Fresno,Mendota Unified,Mendota Community Day,5,M,0,0,0,...,2,0,1,1,2,0,0,6,0,2014
4,4,10751300000000,Fresno,Mendota Unified,McCabe Elementary,0,F,0,0,0,...,0,0,0,0,0,0,0,1,0,2014

In [37]:
# pulling and rearranging columns into new dataframe and grouping by needed topics
enroll_new_df = sy_1420_df[["CDS_CODE", "COUNTY", "DISTRICT", "SCHOOL", "ETHNIC", "GENDER", "ENR_TOTAL", "year"]]
total_enrollment = enroll_test.groupby(by=["CDS_CODE", "COUNTY", "DISTRICT", "SCHOOL", "year"]).sum()

enroll_new_df

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,ENR_TOTAL,year
0,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,7,M,1,2014
1,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,5,F,2,2014
2,10751300000000,Fresno,Mendota Unified,Mendota Continuation High,5,M,12,2014
3,10751300000000,Fresno,Mendota Unified,Mendota Community Day,5,M,6,2014
4,10751300000000,Fresno,Mendota Unified,McCabe Elementary,0,F,1,2014
...,...,...,...,...,...,...,...,...
780909,56725206055248,Ventura,Ojai Unified,Topa Topa Elementary,7,F,70,2019
780910,56725206055248,Ventura,Ojai Unified,Topa Topa Elementary,4,M,1,2019
780911,56725206055248,Ventura,Ojai Unified,Topa Topa Elementary,5,F,42,2019
780912,56725206055248,Ventura,Ojai Unified,Topa Topa Elementary,9,F,7,2019
780913,56725206055248,Ventura,Ojai Unified,Topa Topa Elementary,9,M,4,2019

In [21]:
# resetting index from groupby dataframe
new_df = total_enrollment.reset_index()
new_df

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,year,ETHNIC,ENR_TOTAL
0,1100170000000,Alameda,Alameda County Office of Education,Alameda County Community,2014,74,277
1,1100170000000,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,2014,59,167
2,1100170000000,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,2014,57,244
3,1100170000000,Alameda,Alameda County Office of Education,Community School for Creative Education,2014,59,191
4,1100170000000,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,2014,71,395
...,...,...,...,...,...,...,...
62941,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2017,74,782
62942,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2018,74,782
62943,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2019,74,814
62944,58727700000000,Yuba,Wheatland Union High,Wheatland Community Day High,2014,18,3
62945,58727700000000,Yuba,Wheatland Union High,Wheatland Union High,2014,71,732

In [22]:
# merging df with enrollment data and the full school directory
merged_df = pd.merge(new_df, school_directory_df, on="CDS_CODE", how="left")
merged_df

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,year,ETHNIC,ENR_TOTAL,NCESDist,NCESSchool,StatusType,...,Virtual,Magnet,YearRoundYN,FederalDFCDistrictID,Latitude,Longitude,AdmFName,AdmLName,AdmEmail,LastUpDate
0,1100170000000,Alameda,Alameda County Office of Education,Alameda County Community,2014,74,277,0691051,No Data,Active,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
1,1100170000000,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,2014,59,167,0691051,No Data,Active,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
2,1100170000000,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,2014,57,244,0691051,No Data,Active,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
3,1100170000000,Alameda,Alameda County Office of Education,Community School for Creative Education,2014,59,191,0691051,No Data,Active,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
4,1100170000000,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,2014,71,395,0691051,No Data,Active,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62941,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2017,74,782,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62942,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2018,74,782,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62943,58727695838305,Yuba,Wheatland Union High,Wheatland Union High,2019,74,814,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62944,58727700000000,Yuba,Wheatland Union High,Wheatland Community Day High,2014,18,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62945,58727700000000,Yuba,Wheatland Union High,Wheatland Union High,2014,71,732,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# reading columns of merged df
merged_df.columns

Index(['CDS_CODE', 'COUNTY', 'DISTRICT', 'SCHOOL', 'year', 'ETHNIC',
       'ENR_TOTAL', 'NCESDist', 'NCESSchool', 'StatusType', 'County',
       'District', 'School', 'Street', 'StreetAbr', 'City', 'Zip', 'State',
       'MailStreet', 'MailStrAbr', 'MailCity', 'MailZip', 'MailState', 'Phone',
       'Ext', 'FaxNumber', 'Email', 'WebSite', 'OpenDate', 'ClosedDate',
       'Charter', 'CharterNum', 'FundingType', 'DOC', 'DOCType', 'SOC',
       'SOCType', 'EdOpsCode', 'EdOpsName', 'EILCode', 'EILName', 'GSoffered',
       'GSserved', 'Virtual', 'Magnet', 'YearRoundYN', 'FederalDFCDistrictID',
       'Latitude', 'Longitude', 'AdmFName', 'AdmLName', 'AdmEmail',
       'LastUpDate'],
      dtype='object')

In [24]:
# pulling needed  columns into new df
school_enroll_directory_df = merged_df[["CDS_CODE", "SCHOOL", "School", "District", "County", "Street", "Zip", "City", "State", "year", "ENR_TOTAL"]]

school_enroll_directory_df

In [26]:
# drop any rows with null values 
enroll_directory_df = school_enroll_directory_df.dropna(how="any")
enroll_directory_df

,CDS_CODE,SCHOOL,School,District,County,Street,Zip,City,State,year,ENR_TOTAL
0,1100170000000,Alameda County Community,No Data,Alameda County Office of Education,Alameda,313 West Winton Avenue,94544-1136,Hayward,CA,2014,277
1,1100170000000,Alameda County Juvenile Hall/Court,No Data,Alameda County Office of Education,Alameda,313 West Winton Avenue,94544-1136,Hayward,CA,2014,167
2,1100170000000,Aspire California College Preparatory Academy,No Data,Alameda County Office of Education,Alameda,313 West Winton Avenue,94544-1136,Hayward,CA,2014,244
3,1100170000000,Community School for Creative Education,No Data,Alameda County Office of Education,Alameda,313 West Winton Avenue,94544-1136,Hayward,CA,2014,191
4,1100170000000,Envision Academy for Arts & Technology,No Data,Alameda County Office of Education,Alameda,313 West Winton Avenue,94544-1136,Hayward,CA,2014,395
...,...,...,...,...,...,...,...,...,...,...,...
56727,49706986051726,Fort Ross Elementary,Fort Ross Elementary,Fort Ross Elementary,Sonoma,30600 Seaview Road,95421-9636,Cazadero,CA,2015,28
56728,49706986051726,Fort Ross Elementary,Fort Ross Elementary,Fort Ross Elementary,Sonoma,30600 Seaview Road,95421-9636,Cazadero,CA,2016,24
56729,49706986051726,Fort Ross Elementary,Fort Ross Elementary,Fort Ross Elementary,Sonoma,30600 Seaview Road,95421-9636,Cazadero,CA,2017,19
56730,49706986051726,Fort Ross Elementary,Fort Ross Elementary,Fort Ross Elementary,Sonoma,30600 Seaview Road,95421-9636,Cazadero,CA,2018,21
56731,49706986051726,Fort Ross Elementary,Fort Ross Elementary,Fort Ross Elementary,Sonoma,30600 Seaview Road,95421-9636,Cazadero,CA,2019,15

In [34]:
# final cleanup creating new dataframe without any values that read as "no Data"
has_no_data = enroll_directory_df["School"] != "No Data"

clean_enroll_direct_df = enroll_directory_df.loc[has_no_data, :]

In [35]:
# exporting to CSV
clean_enroll_direct_df.to_csv("Resources/output_data/school_directory_enrollment.csv")