In [1]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [3]:
# Create paths for csv

employment_unified_2016_data = "Merged Employment/Resources/output_employment_data/Unified2016.csv"
employment_elementary_2016_data = "Merged Employment/Resources/output_employment_data/Elementary2016.csv"
employment_secondary_2016_data = "Merged Employment/Resources/output_employment_data/Secondary2016.csv"

In [4]:
# UNIFIED 2016

employment_unified_2016 = pd.read_csv(employment_unified_2016_data)
# pd.DataFrame(employment_unified_2016)

In [5]:
# ELEMENTARY 2016

employment_elementary_2016 = pd.read_csv(employment_elementary_2016_data)
# pd.DataFrame(employment_elementary_2016)

In [6]:
# SECONDARY 2016 

employment_secondary_2016 = pd.read_csv(employment_secondary_2016_data)
# pd.DataFrame(employment_secondary_2016)

In [7]:
list_of_files = [
    "Merged Employment/Resources/output_employment_data/Unified2016.csv",
    "Merged Employment/Resources/output_employment_data/Elementary2016.csv",
    "Merged Employment/Resources/output_employment_data/Secondary2016.csv"
]

# Format pd.read_csv(filename).assign(year=2016)
employment_2016_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2016
    employment_2016_df.append(X1)
    
# Combine the data into a single dataset
employment_2016_data = pd.concat(employment_2016_df)
employment_2016_merged = pd.DataFrame(employment_2016_data)

In [8]:
# Save csv file 

employment_2016_merged.to_csv("Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2016.csv")

In [9]:
employment_2016_merged

,Unnamed: 0,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,Total!!Estimate!!Hispanic or Latino origin (of any race),...,Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,Unemployment rate!!Estimate!!Hispanic or Latino origin (of any race),"Unemployment rate!!Estimate!!White alone, not Hispanic or Latino",Unemployment rate!!Estimate!!Population 20 to 64 years,STATE,SCHOOL DISTRICT (UNIFIED),NCESDist,year,SCHOOL DISTRICT (ELEMENTARY),SCHOOL DISTRICT (SECONDARY)
0,1,82334,68715,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,42536,...,-999999999.0,6.9,10.9,7.7,6,14.0,600014,2016,NaN,NaN
1,2,63598,45850,-999999999,-999999999,5919,-999999999,-999999999,-999999999,21048,...,-999999999.0,4.6,2.2,3.4,6,16.0,600016,2016,NaN,NaN
2,3,63453,50460,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,20642,...,-999999999.0,20.0,9.9,13.1,6,17.0,600017,2016,NaN,NaN
3,4,62993,38232,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,-999999999.0,4.7,3.5,6,20.0,600020,2016,NaN,NaN
4,5,100634,63493,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,41790,...,-999999999.0,6.3,10.9,7.1,6,27.0,600027,2016,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,41,391423,267769,18094,-999999999,60584,-999999999,27460,13621,232431,...,10.6,11.3,6.8,9.0,6,NaN,638640,2016,NaN,38640.0
41,42,97603,85958,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,-999999999.0,4.2,4.2,6,NaN,638790,2016,NaN,38790.0
42,43,61209,48924,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,34975,...,-999999999.0,9.2,5.0,7.2,6,NaN,639930,2016,NaN,39930.0
43,44,175273,83139,-999999999,-999999999,12105,-999999999,68519,-999999999,119953,...,-999999999.0,5.1,6.4,5.0,6,NaN,642480,2016,NaN,42480.0
44,45,217047,154685,8070,-999999999,25965,-999999999,16255,-999999999,65553,...,-999999999.0,8.1,5.0,5.9,6,NaN,642510,2016,NaN,42510.0