In [10]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [11]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [12]:
# Create paths for csv

employment_unified_2017_data = "Merged Employment/Resources/output_employment_data/Unified2017.csv"
employment_elementary_2017_data = "Merged Employment/Resources/output_employment_data/Elementary2017.csv"
employment_secondary_2017_data = "Merged Employment/Resources/output_employment_data/Secondary2017.csv"

In [13]:
# UNIFIED 2017

employment_unified_2017 = pd.read_csv(employment_unified_2017_data)
# pd.DataFrame(employment_unified_2017)

In [14]:
# ELEMENTARY 2017

employment_elementary_2017 = pd.read_csv(employment_elementary_2017_data)
# pd.DataFrame(employment_elementary_2017)

In [15]:
# SECONDARY 2017 

employment_secondary_2017 = pd.read_csv(employment_secondary_2017_data)
# pd.DataFrame(employment_secondary_2017)

In [16]:
list_of_files = [
    "Merged Employment/Resources/output_employment_data/Unified2017.csv",
    "Merged Employment/Resources/output_employment_data/Elementary2017.csv",
    "Merged Employment/Resources/output_employment_data/Secondary2017.csv"
]

# Format pd.read_csv(filename).assign(year=2017)
employment_2017_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2017
    employment_2017_df.append(X1)
    
# Combine the data into a single dataset
employment_2017_data = pd.concat(employment_2017_df)
employment_2017_merged = pd.DataFrame(employment_2017_data)

In [17]:
# Save csv file 

employment_2017_merged.to_csv("Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2017.csv")

In [18]:
employment_2017_merged

,Unnamed: 0,Geography,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,...,"Unemployment rate!!Estimate!!White alone, not Hispanic or Latino",Unemployment rate!!Estimate!!Population 20 to 64 years,NAME,STATE,SCHOOL DISTRICT (UNIFIED),District,NCESDist,year,SCHOOL DISTRICT (ELEMENTARY),SCHOOL DISTRICT (SECONDARY)
0,1,9700000US0609070,67426,23574,-999999999,-999999999,-999999999,-999999999,40971,-999999999,...,7.7,15.7,"Coachella Valley Unified School District, Cali...",6,9070.0,Coachella Valley Unified School District,609070,2017,NaN,NaN
1,2,9700000US0609390,89037,51158,-999999999,-999999999,-999999999,-999999999,20559,-999999999,...,3.6,5.4,"Colton Joint Unified School District, California",6,9390.0,Colton Joint Unified School District,609390,2017,NaN,NaN
2,3,9700000US0609620,114688,30612,37214,-999999999,-999999999,-999999999,42859,-999999999,...,-999999999.0,7.6,"Compton Unified School District, California",6,9620.0,Compton Unified School District,609620,2017,NaN,NaN
3,4,9700000US0609640,111769,92016,-999999999,-999999999,11712,-999999999,-999999999,-999999999,...,3.7,2.3,"Conejo Valley Unified School District, California",6,9640.0,Conejo Valley Unified School District,609640,2017,NaN,NaN
4,5,9700000US0609850,221791,124876,18264,-999999999,27848,-999999999,40947,-999999999,...,3.6,4.6,"Corona-Norco Unified School District, California",6,9850.0,Corona-Norco Unified School District,609850,2017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,41,9600000US0638640,390043,262985,22830,-999999999,52125,-999999999,31827,13595,...,6.6,7.5,"Sweetwater Union High School District, California",6,NaN,Sweetwater Union High School District,638640,2017,NaN,38640.0
41,42,9600000US0638790,93797,81442,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,4.7,5.4,"Tamalpais Union High School District, California",6,NaN,Tamalpais Union High School District,638790,2017,NaN,38790.0
42,43,9600000US0639930,57010,43352,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,5.2,5.0,"Tulare Joint Union High School District, Calif...",6,NaN,Tulare Joint Union High School District,639930,2017,NaN,39930.0
43,44,9600000US0642480,177140,78645,-999999999,-999999999,12345,-999999999,77023,-999999999,...,5.0,3.2,"Whittier Union High School District, California",6,NaN,Whittier Union High School District,642480,2017,NaN,42480.0
44,45,9600000US0642510,208964,145652,-999999999,-999999999,27840,-999999999,-999999999,-999999999,...,5.7,4.6,"William S. Hart Union High School District, Ca...",6,NaN,William S. Hart Union High School District,642510,2017,NaN,42510.0